


.login{
    color: darkorange;
    ;
  }
  
  .form-signin {
    text-decoration:cyan;
    text-align: center;
    
    
    
  }

  .form-register {
    text-decoration:cyan;
    text-align: center;
    
  }

#create-account{
  color:darkblue;
    font-family: fantasy;
    font-size:50pt;
    
}

  #app-title {
    color:darkblue;
    font-family:fantasy;
    font-size: 50pt;
    
    }
  
  #psi{
    color:darkblue;
    font-family:fantasy;
    
  }
  
  
  
  .sr-only{
    text-align: center;
    

  }
  

#form-items{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-left:auto;
  max-width: 25%;
  margin-right:auto;


  
}

  body {
    background-color:orange
    }

  #home-link {
      font-size: 30pt;
  
    }

    .form-control{
  display:flex;
  flex-direction: column;
  margin-left:auto;
  max-width: 50%;
  margin-right:auto;
    }
  

    img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
    }
    
    #HAA {
      display:flex;
      flex-direction:column;
      margin-left:auto;
      margin-right: auto;

    }

    a:visited {
      color: purple;
    }
    a:hover {
      color: purple;
    }

    a:link, a:visited {
      background-color: darkblue;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
   
    h1 {
      background-color: orange;
      color:darkblue;
      font-family: monospace;
    }
    tbody{
      padding: 120% ;
      background-color: darkblue;
      color:white;
      font-family: fantasy;
      border-style: solid;
      border-width: 50px;
    }
    
    #tableExercise{
      display: inline-flexbox;
      justify-content: space-evenly;
      background-color: darkblue;
      height: 25hv;
      width: 25hw;
      
    }
    #app{
      display: flex;
      width: 50%;
      background-color: orange;

    }#workoutId{
      padding:25px
    }
  #workoutName{
    padding:25px
  }
#workoutDesc{
  padding:25px
}

#expectedTarget{
  padding:25px
}
#weight{
  padding:25px
}
#repSet{
  padding:25px
}
#time{
  padding:25px
}

#muscles{
 
  position: center;
  right: 100px;
  width: 900px;
  border: solid darkblue;
}

#bullImg{
  width:auto;
  height:auto;
}
