.login{
    color: darkorange;
    ;
  }
  
  .form-signin {
    text-decoration:cyan;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
  }

  .form-register {
    text-decoration:cyan;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

#create-account{
  color:darkblue;
    font-family: fantasy;
    font-size:50pt;
    
}

  #app-title {
    color:darkblue;
    font-family:fantasy;
    font-size: 50pt;
    
    }
  
  #psi{
    color:darkblue;
    font-family:fantasy;
    
  }
  
  
  
  .sr-only{
    text-align: center;
    

  }
  

#form-items{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-left:auto;
  max-width: 25%;
  margin-right:auto;


  
}

  body {
    background-color:orange
    }

  #home-link {
      font-size: 30pt;
  
    }

    .form-control{
  display:flex;
  flex-direction: column;
  margin-left:auto;
  max-width: 50%;
  margin-right:auto;
    }
  

    img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
    }
    
    #HAA {
      display:flex;
      flex-direction:column;
      margin-left:auto;
      margin-right: auto;

    }

